---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <div class="date" style="color:#666666;">
        {{ post.date | date: "%b %e, %Y" }}
        {%- if post.tags -%} · 
          {% for tag in post.tags %}
              <body link="#666666" alink="#0000FF">
                <a href="{{site.baseurl}}/archive.html#{{tag | slugize}}">
                    #{{ tag }}
                </a>
              </body>
          {% endfor %}
        {%- endif -%}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more"> Read More</a>
    </article>
  {% endfor %}
</div>
