{%- assign raw_filters = include.filter | default: "note" | split: "," -%}
{%- assign filters = "" | split: "" -%}

{%- for f in raw_filters -%}
  {%- assign filters = filters | push: f | map: "strip" -%}
{%- endfor -%}

{%- assign filtered_notes = site.notes
  | where_exp: "note", "filters contains note.type"
  | sort: "date"
  | reverse
-%}


{%- assign note = filtered_notes.first -%}

{%- if note -%}
<div class="card-link">
  <a class="internal-link" href="{{ site.baseurl }}{{ note.url }}">
    <h3 style="margin-top:0;">{{ note.title }}</h3>
    <p class="note-date">
      {{ note.date | date: "%B %d, %Y" }}
    </p>
    <div class="entry">
      {{ note.content | strip_html | truncatewords: 40 }}
    </div>
  </a>
</div>
{%- endif -%}
