{%- assign raw_filters = include.filter | default: "note" | split: "," -%}
{%- assign filters = "" | split: "" -%}

{%- for f in raw_filters -%}
  {%- assign trimmed = f | strip -%}
  {%- assign filters = filters | push: trimmed -%}
{%- endfor -%}

{%- assign filtered_notes = site.notes
  | where_exp: "note", "note.type and filters contains note.type"
  | sort: "date"
  | reverse
-%}



{%- assign note = filtered_notes.first -%}

{%- if note -%}
<div class="card-link">
  <a class="internal-link" href="{{ site.baseurl }}{{ note.url }}">
    <h2 style="margin-top:0;">{{ note.title }}</h3>
    <h4 class="note-date" style="font-style: italic;">
      {{ note.date | date: "%B %d, %Y" }}
    </h4>
    <div class="entry">
      {{ note.content | strip_html | truncatewords: 40 }}
    </div>
  </a>
</div>
{%- endif -%}
