<nav class="navbar">
  <div class="baseurl">
    <a class="internal-link" href="/"><b>{{ site.title }}</b></a>

    {% if page.type == "2024" %}
      <span class="breadcrumb-sep"> / </span>
      <a class="internal-link" href="/2024-in-a-nutshell/">2024, IAN</a>

    {% elsif page.type == "book" %}
      <span class="breadcrumb-sep"> / </span>
      <a class="internal-link" href="/bookshelf/">Bookshelf</a>
    {% endif %}

    {% elsif page.type == "note" %}
      <span class="breadcrumb-sep"> / </span>
      <a class="internal-link" href="/archive/">Writing</a>
    {% endif %}

    {% elsif page.type == "ian" %}
      <span class="breadcrumb-sep"> / </span>
      <a class="internal-link" href="/ian/">IAN</a>
    {% endif %}
  </div>

  <div class="nav-links">
    <a href="/about">About</a>
    <a href="/now">Now</a>
  </div>
</nav>
