{% comment %}
USAGE EXAMPLES:
{% include notes-list.html type="journal" %}
{% include notes-list.html type="journal" show_dates=false %}
{% include notes-list.html type="journal" group_by_year=true show_dates=true %}
{% include notes-list.html type="journal" limit="20" group_by_year=true %}
{% endcomment %}

{% assign notes_all = site.notes | where: "type", include.type | sort: "date" | reverse %}

{% if include.limit %}
  {% assign notes = notes_all | slice: 0, include.limit %}
{% else %}
  {% assign notes = notes_all %}
{% endif %}

{% assign show_dates_raw = include.show_dates | default: true %}
{% assign show_dates_str = show_dates_raw | downcase %}
{% assign show_dates = show_dates_str != "false" and show_dates_str != "0" %}

{% assign group = include.group_by_year | default: false %}

<ul class="no-bullets">

{% if group %}
  {% assign current_year = "" %}
  {% for note in notes %}
    {% assign note_year = note.date | date: "%Y" %}

    {% if note_year != current_year %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h3 class="year-heading">{{ note_year }}</h3>
      <ul class="no-bullets">
      {% assign current_year = note_year %}
    {% endif %}

    <li>
      {% if show_dates %}
        {{ note.date | date: "%B %-d" }} &nbsp;&nbsp;
      {% endif %}
      <a class="internal-link" href="{{ site.baseurl }}{{ note.url }}">
        {{ note.title }}
      </a>
    </li>
  {% endfor %}

{% else %}
  {% for note in notes %}
    <li>
      {% if show_dates %}
        {{ note.date | date: "%Y · %m" }} &nbsp;&nbsp;
      {% endif %}
      <a class="internal-link" href="{{ site.baseurl }}{{ note.url }}">
        {{ note.title }}
      </a>
    </li>
  {% endfor %}
{% endif %}

</ul>
